pre {
  font-family: Lato;
  background-color: grey;
  padding: 10px;
}


a{
  text-decoration: none;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  background-color: bisque;
color:black;
}

.active{
  background-color:saddlebrown;
}